* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  padding: 30px;
}

.container {
  height: 400px;
  width: 600px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(220, 20, 60, 0.20);
  border-radius: 8px;
}

.pomodoro-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: solid rgba(155, 42, 42, 0.548);
  border-radius: 8px;
}

.pomodoro-number-box {
  align-self: center;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-shadow: 4px 2px rgba(180, 98, 98, 0.733);
}

.pomodoro-buttons {
  align-self: center;
}

.pomodoro-buttons button {
  height: 40px;
  width: 100px;
  margin-right: 10px;
  border: solid rgba(155, 42, 42, 0.548);
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  box-shadow: 2px 2px rgba(155, 42, 42, 0.548) ;
}

.pomodoro-buttons button:hover {
  background-color: rgba(184, 105, 121, 0.2);
}

.pomodoro-buttons button:active {
    background-color:rgba(184, 105, 121, 0.2);
    border: solid rgba(155, 42, 42, 0.774);
    box-shadow: 2px 2px rgba(155, 42, 42, 0.774);
    transform: translateY(4px);
}